{% extends "layout.html" %}

{% block title %}
Products
{% endblock %}

{% block content %}
<h1>Products</h1>
<div class="product-list">
    {% for product in products %}
    <a href="{{ url_for('get_product', product_id=product.id) }}">
        <div class="product_preview">
            <div class="top">
                <img class="preview_image" src="{{ url_for('static', filename='images/' + product.image) }}" class="product_image" alt="{{ product.name }} Image">
            </div>
            <div class="base">
                <p>{{ product.name }}</p>
                <p>{{ product.price }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}